
// Overwrites - Calendar overwrite
//------------------------------------------------------------------------------

.fc-time-grid-event.fc-short .fc-time:after {
  content: none;
}

.fc-event {
  background-color: $c-violet-dark;
  border: none;
  border-radius: 0;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0;
}