
// Variables
//------------------------------------------------------------------------------

$space: 20px;

// colors
$c-violet: #AC92EC;
$c-violet-dark: #967ADC;
$c-gray-xlight: #F5F7FA;
$c-gray-light: #E6E9ED;
$c-gray: #CCD1D9;
$c-gray-medium: #AAB2BD;
$c-gray-dark: #656D78;
$c-gray-xdark: #434A54;
$c-blue: #3BAFDA;

// breakpoints
$sm: 768px;