
// Commons - Base
//------------------------------------------------------------------------------

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, 
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  padding-top: $space * 2.5;
  margin: 0;
  color: $c-gray-xdark;
}

p {
  line-height: 2;
  vertical-align: middle;
}