
// Commons - Structure
//------------------------------------------------------------------------------

.row-space {
  padding-top: $space;
  padding-bottom: $space;
}

.vertical-middle {
  margin-left: - $space;

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: $space;
  }
}

.push {
  &-top {
    margin-top: $space;
  }

  &-bottom {
    margin-bottom: $space;
  }

  &-left {
    margin-left: $space;
  }
  
  &-right {
    margin-right: $space;
  }
}

// flex grid
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &-center {
    align-items: center;
  }

  &-stretch {
    align-items: stretch;
  }

  &-between {
    justify-content: space-between;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-left {
    justify-content: flex-start;
  }
}