
// Commons - Structure
//------------------------------------------------------------------------------

.row-space {
  padding-top: $space;
  padding-bottom: $space;
}

.flex {
  display: flex;
  
  &-center {
    align-items: center;
  }
}