<div class="row">
  <div ng-if="!vm.isLoggedIn()">
    <a ui-sref="login" class="btn">Zaloguj się</a>
    <p>lub</p>
    <a ui-sref="register" class="btn">Załóż konto</a>
  </div>
  <div ng-if="vm.isLoggedIn()">
    <h1>Umów wizytę</h1>
    <p>
      <span>Twój termin: </span><span>{{time}}, </span><span>{{date}}, </span><span>{{dayName}}</span>
    </p>
    <form name="bookvisitform" novalidate ng-submit="vm.bookVisit(bookVisit)"> 
      <input type="hidden" name="user" ng-model="bookVisit.user" ng-init="bookVisit.user = vm.currentUser()" >
      <input type="hidden" name="date" ng-model="bookVisit.date" ng-init="bookVisit.date = dateRaw" >
      <fieldset>
        <select ng-model="bookVisit.service">
          <option value="">Wybierz usługę</option>
          <option ng-repeat="service in vm.services" value="{{service.id}}">{{service.name}}</option>
        </select>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label for="comment">Dodatkowe informacje dla lekarza:</label>
          <textarea type="text" 
                    name="additionalInformation" 
                    id="additionalInformation" 
                    class="form-control" 
                    ng-model="bookVisit.additionalInformation"></textarea>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-success">Umów wizytę</button>
      <button type="button" class="btn btn-danger" ng-click="vm.closePopup()">Zamknij</button>
    </form>
    <strong ng-if="vm.errorMessage">{{vm.errorMessage}}</strong>
  </div>
</div>