<header class="header">
  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">registration</a>
      </div>

      <div class="navbar-right">
        <a ui-sref="login" ng-if="!vm.isLoggedIn()" class="btn">Zaloguj</a>
        <span ng-if="vm.isLoggedIn()" class="navbar-user">
          Witaj, 
          <a ui-sref="profile">{{vm.name()}}</a>
        </span>
        <a ui-sref="admin" ng-if="vm.isLoggedIn() && vm.isAdmin" class="btn">Panel administratora</a>
        <button type="button" ng-click="vm.logOut()" ng-if="vm.isLoggedIn()" class="btn">Wyloguj</button>
        <a ui-sref="register" ng-if="!vm.isLoggedIn()" class="btn">Załóż konto</a>
      </div>
    </div>
  </div>
</header>
<!-- / header -->