<div class="login-form" ng-controller="LoginCtrl">
  <h1><strong>Zaloguj się</strong></h1>
  <form name="loginform" novalidate ng-submit="loginform.$valid && vm.logIn(loginData)"> 
    <fieldset>
      <div class="form-group" 
           ng-class="{'has-error' : !loginform.email.$valid && loginform.$submitted}">
        <label for="email">Email</label>
        <input type="email" 
               name="email" 
               id="email" 
               class="form-control" 
               ng-model="loginData.email"
               required>
        <p class="error" 
           ng-show="loginform.email.$error.required && loginform.$submitted">Musisz wypełnić to pole</p>
        <p class="error" 
           ng-show="loginform.email.$error.email && loginform.$submitted">To nie jest poprawny adres email.</p>
      </div>
      <div class="form-group" 
           ng-class="{'has-error' : !loginform.password.$valid && loginform.$submitted}">
        <label for="password">Hasło</label>
        <input type="password" 
               name="password" 
               id="password" 
               class="form-control" 
               ng-model="loginData.password"
               required>
        <p class="error" 
           ng-show="loginform.password.$error.required && loginform.$submitted">Musisz wypełnić to pole</p>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-info">Zaloguj</button>
    <a ui-sref="forgotPassword" class="forgot-password">Nie pamiętasz hasła?</a>
  </form>
  <p class="error" ng-if="vm.errorMessage">{{vm.errorMessage}}</p>
  <div ng-if="vm.toggleVerified">
    <p><strong>{{vm.toggleVerifiedMsg}}</strong></p>
    <p><a ui-sref="resendVerificationEmail" class="btn btn-default">Nie dostałem emaila</a></p>
  </div>
</div>