<div class="login-form" ng-controller="LoginCtrl">
  <p><strong>Zaloguj się</strong></p>
  <form name="loginform" novalidate ng-submit="loginform.$valid && vm.logIn(loginData)"> 
    <fieldset>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" ng-model="loginData.email">
      </div>
      <div class="input-group">
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="loginData.password">
      </div>
    </fieldset>
    <button type="submit" class="btn">Zaloguj</button>
  </form>
  <strong ng-if="vm.errorMessage">{{vm.errorMessage}}</strong>
</div>