
// Components - Admin
//------------------------------------------------------------------------------

.admin {
  &-service {
    &-legend {
      margin-left: $space / 2;

      &-name {
        padding-left: $space * 1.25;  
      }

      &-status {
        padding-left: 0;
      }
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;

      &--item {
        position: relative;
        min-height: 34px;
        margin-bottom: $space / 2;

        &-row {
          margin-left: $space / 2;
        }

        .form-group {
          margin-bottom: 0;
        }
      }

      .sort-handle {
        margin-left: 0;
        height: 32px;
        width: $space;
        float: left;
        line-height: 32px;
        text-align: center;
      }
    }
  }

  &-panel {
    .fc-content {
      height: 100%; 

      &:hover {
        cursor: pointer;

        .edit-event {
          opacity: 1;
        }
      }
    }

    .edit-event {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      opacity: 0;
      @include transition(opacity, .15s, ease);
    }  

    .fc-bg {
      display: none;
    }

    &-edit-work-hours {
      padding: $space;
      background-color: $c-gray-xlight;

      .header {
        margin-top: 0;
      }

      &-form {
        > .input-wrapper {
          display: inline-block;

          &:first-of-type {
            margin-right: $space;
          }
        }
      }
    }

    &--cancel-visit {
      width: $space * 1.5;

      button {
        background: none;
        outline: none;
        border: none;
      }
    }
  }

  &-days-off {
    &-well {
      width: 305px;
      max-width: 100%;
      overflow: auto;
    }
  }
}