
// Components - Buttons
//------------------------------------------------------------------------------

.btn {
  text-transform: uppercase;

  &-hidden-text {
    position: absolute;
    visibility: hidden;
  }
}