
// Components - Calendar
//------------------------------------------------------------------------------

.calendar {
  &-wrapper {
    position: relative;
  }
}

.fc-content {
  text-align: center;
}

.taken {
  opacity: .3;
}

.free {
  cursor: pointer;
}

.fc-event {
  &.availability {
    background-color: $c-blue;
    opacity: 0.5
  }
}

.admin-panel {
  .fc-unthemed .fc-today {
    background: none;
  }
}