
// Components - Calendar
//------------------------------------------------------------------------------

.fc-content {
  text-align: center;
}

.taken {
  opacity: .3;
}

.free {
  cursor: pointer;
}

.fc-event {
  &.availability {
    background-color: blue;
  }
}