
// Components - Calendar navigation
//------------------------------------------------------------------------------

calendar-navigation,
.calendar-navigation {
  display: block;
  position: absolute;
  top: $space * 1.25;
  right: 0;
}