
// Components - Calendar navigation
//------------------------------------------------------------------------------

calendar-navigation,
.calendar-navigation {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}