
// Components - Calendar
//------------------------------------------------------------------------------

.calendar {
  &-wrapper {
    position: relative;
  }
}

.fc-content {
  text-align: center;
}

.taken {
  opacity: .3;
}

.free {
  cursor: pointer;
}

.fc-event {
  &.availability {
    background-color: $c-blue;
    opacity: 0.7;

    &.free-event {
      background: none;
      color: $c-green;

      .fc-time {
        display: none;
      }

      .edit-event {
        display: block;
        width: 30px;
        height: 30px;
        padding-left: 2px;
        line-height: 29px;
        background: $c-green;
        color: white;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
  
  &.free {
    border-bottom: 1px solid white;
  }
}

.admin-panel {
  .fc-unthemed .fc-today {
    background: none;
  }
}