
// Components - Form
//------------------------------------------------------------------------------

form {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.has-error {
  .error {
    color: $c-red;
  }
}

.recaptcha {
  margin: $space 0;
}