<div ng-if="vm.isAdmin" class="admin-panel clearfix">
  <h1>Panel administratora</h1>
  <h2>Kalendarz wizyt</h2>
  <button type="button" class="btn btn-primary" ng-click="vm.prevWeekVisits(vm.countWeeksBack = vm.countWeeksBack + 1)" ng-disabled="!vm.isMoreToLoad">Pokaż poprzedni tydzień</button>
  <span ng-if="!vm.isMoreToLoad">Nie ma starszych wizyt</span>
  <div class="row-space">
    <a href="" ng-click="vm.goToAnchor('dzisiaj')" class="btn btn-primary">Wizyty od dzisiaj</a>
  </div>
  <p ng-ig="vm.displayWeekFrom">Wizyty od dnia {{vm.displayWeekFrom}}</p>
  <p ng-if="vm.visits.length === 0">Brak nowych wizyt</p>
  <table class="table table-bordered table-hover visits-table">
    <tbody>
      <tr ng-repeat="visit in vm.visits | orderBy: 'date'" data-item-id="{{visit.id}}" ng-class="{canceled: visit.isCanceled, anchor: vm.isVisitToday(visit.date)}" ng-attr-id="{{vm.isVisitToday(visit.date)}}">
        <td><span ng-if="vm.displayMonth(visit.date)">{{visit.date | date: 'd MMMM'}}</span></td>
        <td>{{visit.date | date: 'HH:mm'}}</td>
        <td data-user="{{visit.user}}">
          <span ng-if="visit.user">{{visit.user.attributes.firstName}} {{visit.user.attributes.lastName}}</span>
          {{visit.userOneTime.name}} {{visit.userOneTime.lastname}}
        </td>
        <td>{{visit.user.attributes.email}}{{visit.userOneTime.email}}</td>
        <td>{{visit.user.attributes.phone}}{{visit.userOneTime.phone}}</td>
        <td class="visits-table-description">
          <div>{{visit.additionalInformation}}</div>
        </td>
        <td class="admin-panel--cancel-visit">
          <button type="button" 
                  ng-if="!visit.isCanceled"
                  ng-click="vm.cancelVisit(visit.id)" 
                  title="Odwołaj wizytę"
                  class="glyphicon glyphicon-trash"></button>
          <button type="button" 
                  ng-if="visit.isCanceled"
                  ng-click="vm.enableVisit(visit.id)" 
                  title="Przywróć wizytę"
                  class="glyphicon glyphicon-repeat"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>