<div ng-if="vm.isAdmin" class="admin-panel clearfix">
  <h1>Panel administratora</h1>
  <a ui-sref="reservations" class="btn btn-primary">Kalendarz wizyt</a>
  <div class="calendar-wrapper row-space">
    <calendar-navigation calendar="vm.adminCalendar" 
                         max="{{vm.weeksAvailable}}"
                         class="calendar-navigation"></calendar-navigation>
    <div ui-calendar="vm.config.calendar" 
         ng-model="vm.eventSources" 
         calendar="vm.adminCalendar" 
         ng-if="vm.isCalendarVisible"
         class="calendar"></div>
  </div>

  <div class="admin-panel-edit-work-hours" ng-if="vm.editWH.end">
    <h3 class="header">Edytuj godziny przyjmowania: {{vm.formatDateToDayName(vm.editWH.start)}}</h3>
    <form class="admin-panel-edit-work-hours-form">
      <div class="input-wrapper">
        <span>Start: </span>
        <uib-timepicker 
                        class="timepicker"
                        ng-model="vm.editWH.start" 
                        hour-step="vm.hstep" 
                        minute-step="vm.mstep" 
                        show-meridian="false"></uib-timepicker>
      </div>
      <div class="input-wrapper">
        <span>Koniec: </span>
        <uib-timepicker 
                        class="timepicker"
                        ng-model="vm.editWH.end" 
                        hour-step="vm.hstep" 
                        minute-step="vm.mstep" 
                        show-meridian="false"></uib-timepicker>
      </div>
      <div class="input-wrapper">
        <span>Czy przyjmujesz w ten dzień?</span>
        <label for="isDaySet" class="toggle">
          <input type="checkbox" 
                 name="isDaySet" 
                 id="isDaySet" 
                 ng-model="vm.editWH.isSet">
          <span class="handle"></span>
        </label>
      </div>
      <div>
        <button 
                type="button" 
                ng-click="vm.saveEditWH(vm.editWH)" 
                class="btn btn-primary">Zapisz</button>
        <button 
                type="button" 
                ng-click="vm.closeEditWH()" 
                class="btn btn-close">Anuluj</button>
      </div>
    </form>
  </div>

  <div class="row row-space">
    <form name="weeksForm" novalidate class="col-md-4" ng-submit="updateWeeks(weeks)"> 
      <fieldset>
        <div class="form-group">
          <label for="weeks">Ilość dostępnych tygodni</label>
          <input type="number" 
                 name="weeks" 
                 id="weeks" 
                 class="form-control"
                 value="{{vm.weeksAvailable}}"
                 ng-model="weeks"
                 ng-change="enableSubmitWeeks = true">
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" ng-disabled="!enableSubmitWeeks">Zapisz</button>
    </form>
  </div>
  <div class="row row-space">
    <form name="visitDurationForm" novalidate class="col-md-4" ng-submit="updateVisitDuration(visitDuration)"> 
      <fieldset>
        <div class="form-group">
          <label for="visitDuration">Czas trwania wizyty (w minutach)</label>
          <input type="number" 
                 name="visitDuration" 
                 id="visitDuration" 
                 class="form-control"
                 value="{{vm.visitDuration}}"
                 ng-model="visitDuration"
                 ng-change="enableSubmitVisit = true">
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" ng-disabled="!enableSubmitVisit">Zapisz</button>
    </form>
  </div>
  <div class="row row-space">
    <form name="serviceForm" novalidate class="col-xs-12" ng-submit="">
      <div class="row admin-service-legend">
        <p class="col-xs-12 col-sm-6 admin-service-legend-name"><strong>Nazwa usługi</strong></p>
        <p class="col-xs-12 col-sm-4"><strong>Cena</strong></p>
        <p class="col-xs-12 col-sm-2 admin-service-legend-status"><strong>Aktywność</strong></p>
      </div>
      <ul ui-sortable="sortOptions" ng-model="vm.services" class="admin-service-list">
        <li ng-repeat="service in vm.services" class="admin-service-list--item" data-temp-id="{{service.tempId}}" data-id="{{service.id}}" data-order="{{service.order}}">
          <div class="sort-handle glyphicon glyphicon-option-vertical"></div>
          <fieldset class="row admin-service-list--item-row">
            <div class="form-group col-xs-12 col-sm-6">
              <input type="text" 
                     class="form-control"
                     ng-model="service.name">
            </div>
            <div class="form-group col-xs-6 col-sm-2">
              <input type="number" 
                     class="form-control"
                     ng-model="service.priceFrom"
                     placeholder="Od">
            </div>
            <div class="form-group col-xs-6 col-sm-2">
              <input type="number" 
                     class="form-control"
                     ng-model="service.priceTo"
                     placeholder="Do">
            </div>
            <div class="form-group col-xs-6 col-sm-1">
              <label for="isActiveCheckbox{{$index}}" class="toggle">
                <input type="checkbox" 
                       name="isActiveCheckbox{{$index}}"
                       id="isActiveCheckbox{{$index}}"
                       ng-click="vm.updateTextMessages(false)"
                       ng-model="service.isActive"
                       checked>
                <span class="handle"></span>
              </label>
            </div>
            <div class="form-group col-xs-6 col-sm-1">
              <button type="button" 
                      ng-click="vm.removeService(service.id, service.tempId, vm.services)"
                      class="btn btn-warning">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </fieldset>
        </li>
      </ul>
      <button type="button" class="btn btn-primary" ng-click="vm.addServiceInput(vm.services)">Dodaj usługę</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.saveServicesChanges(vm.services)">Zapisz</button>
      <p>{{vm.sortedList}}</p>
    </form>
  </div>
</div>