<div ng-if="vm.isAdmin" class="admin-panel clearfix">
  <h1>Panel administratora</h1>
  <h2>Kalendarz wizyt</h2>
  <a ui-sref="admin" class="btn btn-primary">Panel administratora</a>
  <button type="button" class="btn btn-primary" ng-click="vm.prevWeekVisits(vm.countWeeksBack = vm.countWeeksBack + 1)" ng-disabled="!vm.isMoreToLoad">Pokaż poprzedni tydzień</button>
  <span ng-if="!vm.isMoreToLoad">Nie ma starszych wizyt</span>
  <div>
    <a href="" ng-click="vm.goToAnchor('dzisiaj')" class="btn btn-primary">Wizyty od dzisiaj</a>
  </div>
  <p ng-ig="vm.displayWeekFrom">Wizyty od dnia {{vm.displayWeekFrom}}</p>
  <p ng-if="vm.visits.length === 0">Brak nowych wizyt</p>
  <table class="table table-bordered table-hover visits-table">
    <tbody>
      <tr ng-repeat="visit in vm.visits" data-item-id="{{visit.id}}" ng-class="{canceled: visit.attributes.isCanceled, anchor: vm.isVisitToday(visit.attributes.date)}" ng-attr-id="{{vm.isVisitToday(visit.attributes.date)}}">
        <td><span ng-if="vm.displayMonth(visit.attributes.date)">{{visit.attributes.date | date: 'd MMMM'}}</span></td>
        <td>{{visit.attributes.date | date: 'HH:mm'}}</td>
        <td data-user="{{visit.attributes.user.id}}">{{visit.attributes.user.attributes.firstName}} {{visit.attributes.user.attributes.lastName}}</td>
        <td>{{visit.attributes.user.attributes.email}}</td>
        <td>{{visit.attributes.user.attributes.phone}}</td>
        <td class="visits-table-description">
          <div>{{visit.attributes.additionalInformation}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>