<div class="row forgot-password" ng-controller="LoginCtrl">
  <h3 class="col-xs-12">Zresetuj hasło</h3>
  <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && vm.forgotPasswordEmail(email)" class="col-xs-12 col-sm-6"> 
    <fieldset>
      <div class="form-group" 
           ng-class="{'has-error' : !forgotPasswordForm.email.$valid && forgotPasswordForm.$submitted}">
        <label for="email">Twój email</label>
        <input type="email" 
               name="email" 
               id="email" 
               class="form-control" 
               ng-model="email"
               required>
        <p class="error" 
           ng-show="forgotPasswordForm.email.$error.required && forgotPasswordForm.$submitted">Musisz wypełnić to pole</p>
        <p class="error" 
           ng-show="forgotPasswordForm.email.$error.email && forgotPasswordForm.$submitted">To nie jest poprawny adres email.</p>
      </div>
    </fieldset>
    <div class="alert alert-{{vm.response.status}}" ng-if="vm.response.status">
      <p>{{vm.response.msg}}</p>
    </div>
    <button type="submit" class="btn btn-info">Wyślij</button>
  </form>
</div>