<div class="calendar-wrapper row-space" ng-if="vm.isCalendarVisible">
  <calendar-navigation calendar="vm.clientCalendar" 
                       max="{{vm.weeksAvailable}}" 
                       class="calendar-navigation"></calendar-navigation>
  <div ui-calendar="vm.config.calendar" 
       ng-model="allEvents" 
       calendar="clientCalendar" 
       class="calendar"
       ng-init="allEvents = []"></div>

  <h2>Usługi</h2>
  <ul class="service-list">
    <li ng-repeat="service in vm.services" class="clearfix service-list--item" ng-if="service.isActive">
      <div class="col-xs-8 col-sm-10">
        <span>{{service.name}}</span>
      </div>
      <div class="col-xs-4 col-sm-2">
        <span ng-if="service.priceFrom">Od {{service.priceFrom}} zł</span>
      </div>
    </li>
  </ul>
</div>