<div ng-if="vm.isLoggedIn" class="profile profile-main">
  <h1>{{vm.firstName}} {{vm.lastName}}</h1>
  <form name="textMessageUpdateform" novalidate> 
    <fieldset>
      <div>
        <span class="label label-primary">E-mail</span>
        <span>{{vm.email}}</span>
      </div>
      <div>
        <label for="profilePhone">
          <span class="label label-primary">Telefon</span>
        </label>
        <input type="text" 
               name="profilePhone" 
               id="profilePhone" 
               ng-model="vm.profileData.phone"
               class="form-control">
      </div>
      <div class="profile-vertical-middle">
        <label for="textMessageUpdate">Czy chcesz otrzymywać powiadomienia SMS</label>
        <label for="textMessageUpdate" class="checkbox-wrapper">
          <input type="checkbox" 
                 name="textMessageUpdate" 
                 id="textMessageUpdate" 
                 ng-model="vm.profileData.textMessages"
                 checked
                 class="checkbox">
          <span class="glyphicon glyphicon-ok"></span>
        </label>
      </div>
    </fieldset>
    <button type="button" class="btn btn-primary" ng-click="vm.updateProfile(vm.profileData)">Zapisz</button>
  </form>
  <div ng-if="vm.isAdmin">
    <button type="button" class="btn btn-primary push-top" ng-click="vm.sendSMS()">Wyślij testowy SMS</button>
    <button type="button" class="btn btn-primary push-top push-left" ng-click="vm.sendEmail({email: vm.email, subject: 'Testowy email', body: '<p>Treść testowa w emailu.</p>'})">Wyślij testowy email</button>
  </div>
</div>