<div class="row resend-verification-form" ng-controller="ResendVerificationEmailCtrl">
  <h3 class="col-xs-12">Wyślij ponownie link potwierdzający email</h3>
  <form name="resendVerificationEmailForm" novalidate ng-submit="resendVerificationEmailForm.$valid && vm.resendVerificationEmail(email)" class="col-xs-12 col-sm-5"> 
    <fieldset>
      <div class="form-group" 
           ng-class="{'has-error' : !resendVerificationEmailForm.email.$valid && resendVerificationEmailForm.$submitted}">
        <label for="email">Twój email</label>
        <input type="email" 
               name="email" 
               id="email" 
               class="form-control" 
               ng-model="email"
               required>
        <p class="error" 
           ng-show="resendVerificationEmailForm.email.$error.required && resendVerificationEmailForm.$submitted">Musisz wypełnić to pole</p>
        <p class="error" 
           ng-show="resendVerificationEmailForm.email.$error.email && resendVerificationEmailForm.$submitted">To nie jest poprawny adres email.</p>
      </div>
    </fieldset>
    <div class="alert alert-{{vm.response.status}}" ng-if="vm.response.status">
      <p>{{vm.response.msg}}</p>
    </div>
    <button type="submit" class="btn btn-info">Wyślij</button>
  </form>
</div>